



body{
    background-image: url('images/bg.png');
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  header h1 {
    margin: 0;
    flex: 1;
    text-align: center;
  }

  header nav {
    display: flex;
    gap: 20px;
    flex: 1;
    justify-content: center;
  }

  header nav a {
    text-decoration: none;
    color: black;
  }

  header nav a:hover {
    color: #ccc;
  }

  .menu-icon{
      display: none;
  }

  @media (max-width: 768px) {
    header nav {
      display: none;
    }

    header .menu-icon {
      display: block;
      font-size: 24px;
      cursor: pointer;
    }
  }

  #menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    color: #fff;
    padding: 10px;
  }

  #menu a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }

  #menu a:hover {
    color: #ccc;
  }
  /* END OF HEADER */


/* ANOTHER SECTION */
.images-container {
    width: 100%;
    overflow: hidden;
    margin-bottom: 25px;
    display: flex;
    gap: 60px;
  }

.images-container img{
    width: 120px;
    margin-right: 50px;
}


/* END OF ANOTHER SECTION */

/*ANOTHER SECTION  */
.about-me-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.text{
    width: 70%;
}

.text h1{
    font-size: 50px;
    
}

.text p{
    font-size: 25px;
    line-height: 35px;
}

.text a{
    text-decoration: none;
    color: black;
    font-weight: 800;
}





/* END OF ANOTHER SECTION */


/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
     padding: 20px 5%;
    background-color: rgb(194, 178, 128,0.8)
  }

.icon-container{
    display: flex;
    width: 100%;
    align-items: start;
    justify-content: space-between;
    margin-top: 20px;
}

.icon-container img{
    width: 40PX;
    opacity: 0.5;
}

.icon-container img:hover{
  opacity: 1;
}
/* END OF FOOTER */

#selectedPage{
  color: #ccc;
}